:root {
  --bg: #fff;
  /* --bg: #d3d3d3; */
  --btn: #1e3551;
  --btn-hover: #fff;
}

* {
  margin: 5px 10px;
}

body {
  background-color: var(--bg);
  /* background: url("https://source.unsplash.com/1280x720/?stones-zen") no-repeat center; */
  display: block;
  background: cover;
  height: 100vh;
  min-height: 500px;
  background-attachment: fixed;
}

.topic__links {
  font-size: 14px;
  font-weight: 600;
  color: #1e3551;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.btn__link {
  border: 2px solid #1e3551;
  font-size: 14px;
  font-weight: 600;
  color: White;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  min-width: 200px;
  gap: 10px;
  padding: 5px;
  background: #1e3551;
}

.btn__link:hover {
  background: transparent;
  color: #1e3551;
  transition: all 0.5s ease-in-out;
}

