.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-top: 20px;
}

.header__text1 {
  font-size: 20px;
  font-weight: 600;
  color: #1e3551;
  /* background: linear-gradient(135deg, #1e3551, #fff, Crimson); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* transition: all 0.5s ease-in-out; */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header__text2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e3551;
  background: linear-gradient(135deg, Crimson, #fff, #1e3551);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  margin-bottom: -25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header__text3 span {
  font-size: 20px;
  font-weight: 600;
  color: #1e3551;
  background: linear-gradient(135deg, #1e3551, #fff, Crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .topic__links { */
/*   font-size: 14px; */
/*   font-weight: 600; */
/*   color: #1e3551; */
/*   text-align: center; */
/*   align-items: center; */
/*   justify-content: center; */
/*   text-decoration: none; */
/*   width: 100%; */
/* } */
/**/
/* .btn__link { */
/*   border: 2px solid #1e3551; */
/*   font-size: 14px; */
/*   font-weight: 600; */
/*   color: White; */
/*   text-align: center; */
/*   align-items: center; */
/*   justify-content: center; */
/*   text-decoration: none; */
/*   border-radius: 5px; */
/*   width: 100%; */
/*   min-width: 200px; */
/*   gap: 10px; */
/*   padding: 5px; */
/*   background: #1e3551; */
/* } */
/**/
/* .btn__link:hover { */
/*   background: transparent; */
/*   color: #1e3551; */
/*   transition: all 0.5s ease-in-out; */
/* } */

.section__columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid red;
  background: radial-gradient(#e1efff, #fff);
}

.columns__max__width {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid darkkhaki;
}

.left__column,
.right__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkorange;
}

.left__column__image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #00000040;
}

.right__column p {
  font-size: 14px;
  font-weight: 500;
  color: #1e3551;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.section__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  background: #111;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cards {
  display: flex;
  border: 1px solid purple;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.topic {
  color: #1e3551;
}

.box__image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #ffffff40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
